*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Century;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background: #ff00cc;
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.507), hsla(312, 100%, 50%, 0.521)), url(../imagenes/Banner/estepls.webp);
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.507), hsla(312, 100%, 50%, 0.521)), url(../imagenes/Banner/estepls.webp);
    background-size: cover ;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
    padding: 10px;

}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 150px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.textos-header h3{
    font-size: 40px;
    font-weight: 300;
    color: lightgray;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* section */
h2{
    font-size: 2.7em;
}

p{
    font-size: 1.25em;
}



#Quienes-somos .container {
    text-align: center;
    padding: 100px 12px;
}
#Quienes-somos .container{
    display: flex;
    justify-content: center;
}

#Quienes-somos .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left:50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Quienes-somos .h2{
    margin-top: 0px;
}

#Quienes-somos .img-container{
    background-image:url(../imagenes/quienesomos.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; 
}

h4{
    font-size: 2.7em;
}

#Nuestro-proposito .container {
    text-align: center;
    padding: 100px 12px;
}

#Nuestro-proposito .container{
    display: flex;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.623);
}

#Nuestro-proposito .texto2{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left:50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

#Nuestro-proposito .h4{
    margin-left: 100px
    
}

#Nuestro-proposito .img2-container{
    background-image:url(../imagenes/proposito.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; 
    float: right;
    
}




h5{
    font-size: 2.7em;
}

ul{
    list-style: none;
    font-size: medium;
}


#Motivos .container {
    text-align: center;
    padding: 100px 12px;
}

#Motivos .container{
    display: flex;
    justify-content: center;
   
}

#Motivos .texto3{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left:50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Motivos .h5{
    margin-top: 0px;
    
}

#Motivos .img3-container{
    background-image:url(../imagenes/images\ 1.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; 
    
}




.galeria{
 padding: 0;
}

.imagen-principal{
    
    width: 100%;
 
    color: #642a73;
    font-size: 50px;
    text-align: center;
}

h6{
    font-family: Verdana; 
}


.listas-imagenes img{
    width: 100%;
    object-fit: cover;
    height: 250px;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    transition-delay: 100ms;
    
}
.listas-imagenes img:hover{
    width: 50%;
    height: 125px;
}


.listas-imagenes{
    display: flex;
    overflow-y: auto;
    margin: 10px;
    
}



/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: medium;
}

.content-foo p{
    color: #ccc;
    font-size: 20px;
}

.content-foo li{
    color: #ccc;
    list-style: none;
}

.content-foo ol{
    color: lightgray;
    font-size: 20px;
}
