*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
body{
    font-family: Century;
}
.contenedor{
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
/* Header */

header{
    width: 100%;
    height: 600px;
    background: #ff00cc;
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.507), hsla(312, 100%, 50%, 0.521)), url(../imagenes/Banner/estepls.webp);
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.507), hsla(312, 100%, 50%, 0.521)), url(../imagenes/Banner/estepls.webp);
    background-size: cover ;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    
}


nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
    padding: 10px;
    

}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 150px;
    color: #fff;
}

.textos-header h3{
    font-size: 40px;
    font-weight: 300;
    color: lightgray;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
/* About us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 5);
    margin-right: 5px;
    
}

.contenido-textos p{
    padding: 0px 0px 50px 5px;
    font-weight: 300;
    text-align: justify;
    font-size: 20px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
/*intro*/
    .intro{
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 100px;
        margin-top: 50px;
    }



/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
/* Galeria */

.portafolio{
    background-color: rgba(211, 211, 211, 0.623);
    margin-bottom: 200px;
    
    
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 30%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(106, 57, 146, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: rgb(255, 255, 255);
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/  
 
/* Clientes */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 35%;
    height: 80%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 50%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
/* Our teeam */

.nuestrosservicios{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
    
}

.servicio-ind h3{
    margin: 10px;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/    
/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
    font-size: 20px;
}

.content-foo li{
    color: #ccc;
    list-style: none;
}

.content-foo ol{
    color: lightgray;
    font-size: 20px;
}

